@model List<CommonCore.ApplicationUser>
@using CommonCore
@using CommonCore.Helpers

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].UrlFoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].NombreApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Genero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ApplicationUser item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.UrlFoto))
                    {
                        <img src="@Url.Content(item.UrlFoto)" alt="Imagen" style="width:100px; height:100px; max-width:100%; height:auto" />
                    }
                    else
                    {
                        <img src="~/Imagenes/FotoPerfil/FotoPerfilDefecto.jpg" alt="Imagen" style="width:100px; height:100px; max-width:100%; height:auto" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.Label(item.Genero.ObtenerDescripcion())
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>

            </tr>
        }
    </tbody>
</table>

